@media only screen and (min-width: 375px) {
  .button {
    padding: 20px 0 20px 18px;
    font-size: 1rem;
    line-height: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .header h1 {
    font-size: 2.4rem;
  }

  .hero-image {
    height: 525px;
  }

  .content-container {
    margin-top: -150px;
  }

  .content-container section {
    margin-bottom: 45px;
  }
  .content-container section.with-columns .column {
    margin-bottom: 45px;
  }

  .content-container section.white-box {
    padding: 0 30px 30px 30px;
  }

  .newsletter {
    padding: 45px 0;
  }
  .newsletter h3 {
    font-size: 4rem;
  }

  .lightwidget--grid.lightwidget--grid-6 li {
    flex-basis: 16.65%;
    width: 16.65%;
  }

  .tribe-events-list-widget .title {
    font-size: 1.1rem;
    padding: 0.6rem;
  }
  .tribe-events-list-widget .details {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-image {
    height: 750px;
  }
  .content-container {
    margin-top: -250px;
  }
}
