.hero-image {
  height: 250px;
}

@media only screen and (min-width: 768px) {
  .hero-image {
    height: 525px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-image {
    height: 750px;
  }
}

.page-title {
  background-color: #007d8a;
}

.button {
  display: block;
  color: #007d8a;
  text-decoration: none;
  padding: 20px 0 20px 12px;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
}

@media only screen and (min-width: 375px) {
  .button {
    padding: 20px 0 20px 18px;
    font-size: 1rem;
    line-height: 1rem;
  }
}

.button:hover {
  color: #fff;
}
.button img {
  display: inline-block;
  margin-right: 10px;
  height: 1.8rem;
  vertical-align: middle;
}
.button div {
  display: inline-block;
  vertical-align: middle;
}
.button-spotify {
  background-color: #1db954;
}
.button-spotify:hover {
  background-color: #1c9c49;
}
.button-fb {
  background-color: #3b5998;
}
.button-fb:hover {
  background-color: #334977;
}
.button-insta {
  background-color: #cb3190;
}

.newsletter {
  background-color: #007d8a;
  background-image: url('/img/contact_bg.jpg');
  background-position: 50% 25%;
}

/*------------------------------------*\
	IMAGES
\*------------------------------------*/
.tribe-events-event-image img {
  max-height: 350px;
}

/*------------------------------------*\
	WIDGETS
\*------------------------------------*/

.tribe-events-list-widget h3 {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  color: #ff8da1;
  border-bottom: 2px solid #ff8da1;
}
.tribe-events-list-widget ol,
.tribe-events-list-widget li {
  margin: 0 !important;
  padding: 0 !important;
}
.tribe-events-list-widget li a {
  display: block;
  margin: 15px 0;
  padding: 0;
}
// Hover
.tribe-events-list-widget li:hover .title {
  background-color: #17798e;
}
.tribe-events-list-widget li:hover .location-date {
  color: #17798e;
}
.tribe-events-list-widget .title {
  margin: 0;
  padding: 0.4rem;
  color: #fff;
  background-color: #1b869d;
}
.tribe-events-list-widget .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.4rem;
  color: #1b869d;
  background-color: #f0f0f0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.tribe-events-list-widget .location-date {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  text-align: left;
}
.tribe-events-list-widget .cost {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: right;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  color: #808080;
}
.tribe-events-widget-link {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .tribe-events-list-widget .title {
    font-size: 1.1rem;
    padding: 0.6rem;
  }
  .tribe-events-list-widget .details {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}
